{% extends "proj/index.html.twig" %}

{% block body %}
    <h1 class="roomName">{{ headline }}</h1>

    <div class="aboutInfo">
        {{ info|raw }}
    </div>

    <div class="aboutOrganizer">
      <div class="about aboutInstall">
        {{ install|raw }}
      </div>
      
      <div class="about aboutCheat">
        {{ cheat|raw }}
      </div>
    </div>

    <button id="startButton" class="startButton" onclick="window.location.href='{{ path('room_one') }}'">Let's go!</button>

{% endblock %}
