<div id="inventory" class="inventory">
    {% if inventory.getAllItems() | length > 0 %}
        <form id="itemsForm" method="POST" action="{{ path('inventory') }}">
            {% for item in inventory.getAllItems() %}
                <button type="submit"
                        name="{{ item.item }}"
                        value="{{ item.use }}"
                        id="item{{ item.item }}"
                        class="gameItem">{{ item.graphics }}</button>
                <label for="item{{ item.item }}"></label>
            {% endfor %}
        </form>
    {% else %}
        <form id="itemsForm" method="POST" action="{{ path('inventory') }}">
            <p>Inventory is empty</p>
        </form>
    {% endif %}

    {% if inventory.getSelectedItem() %}
        <div class="selected-item">
            <p>Selected: {{ inventory.getSelectedItem().name }}</p>
            {% if inventory.getSelectedItem().use is defined %}
                <p>Use: {{ inventory.getSelectedItem().use }}</p>
            {% endif %}
        </div>
    {% endif %}
</div>
