{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}

{% block body %}
    <div class="twentyOneViewer">
        {{ rules|raw }}
        <div id="cardGameFormContainer" class="cardGameFormContainer">
            <form id="cardGameMenuForm" class="cardGameMenuForm" action="{{ path('twentyone') }}" method="POST">
                {{ difficulty|raw }}
                {{ players|raw }}
                <a href="{{ path('play') }}">
                    {{ button|raw }}
                </a>
            </a>
            </form>
        </div>
    </div>
{% endblock %}
