{% extends "base.html.twig" %}

{% block title %}TwentyOne{% endblock %}    

{% block body %}
    <div class="twentyOneViewer">
        <div id="gameContainer" class="gameContainer">
            <div id="game" class="game">
                <div id="bankView" class="gameView">
                    <p class="cardSize">{{ bank }}</p>
                </div>
                
                <div id="playerView" class="gameView">
                    <p class="cardSize">{{ player }}</p>
                </div>

                <div id="infoView" class="infoView">
                    <form method="POST" action="{{ path("play") }}" class="selectForm">
                        {{ button1|raw }}
                        {{ button2|raw }}
                        {{ button3|raw }}
                        {{ button4|raw }}
                    </form>

                    <p style="color: white;">{{ gameInfo|raw }}</p>
                    <p> {{ winner }} </p>
                </div>
            </div>
        </div>
{% endblock %}

