{% extends 'base.html.twig' %}

{% block title %}Add book to library{% endblock %}

{% block body %}

    <div class="libraryViewer">
        <h1 class="libraryHeadline">Remove book</h1>

        <p class="libraryExplanation">Are you sure you want to remove this book from the library shelves?</p>
        
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Author</th>
                    <th>ISBN</th>
                    <th>Image</th>
                </tr>
            </thead>

            <tbody class="libraryTable">
                <tr>
                    <td>
                        <a href="{{ path('view_details', {'id': book.id}) }}">
                            {{ book.getISBN }}
                        </a>
                    </td>
                    <td>
                        {{ book.getTitle }}
                    </td>
                    <td>
                        {{ book.getAuthor }}
                    </td>
                    <td>
                        {{ book.getImage }}
                    </td>
                </tr>
            </tbody>
        </table>

        <form class="libraryForm" action="{{ path('book_delete_by_id', {'id': book.id}) }}" method="post">
            <button type="submit" class="libraryButton2">Yes</button>
            <a href="{{ path('book_show_all') }}" class="libraryButton2">No</a>
        </form>
        
    </div>

{% endblock %}
