{% extends 'base.html.twig' %}

{% block title %}Book details{% endblock %}

{% block body %}

    <div class="libraryViewer">
        <table>
            <thead>
                <tr>
                    <th>ISBN</th>
                    <th>Title</th>
                    <th>Author</th>
                    <th>Image</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>
                        {{ book.getISBN }} 
                    </td>
                    <td>
                        {{ book.getTitle }}
                    </td>
                    <td>
                        {{ book.getAuthor }} 
                    </td>
                    <td>
                        <img src="{{ asset('uploads/images/' ~ book.getImage) }}" alt="{{ book.getTitle }}" />
                    </td>
                </tr>
            </tbody>
        </table>

        <a class="libraryButton" href="{{ path('book_show_all') }}">Return to main</a>
    </div>

{% endblock %}
