<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset('img/glider.svg') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="site-header" style="background-image: url({{ asset('img/bwlunarsurface.png') }})">
            <span class="site-title">    </span>
        </header>
        
        <script>
            function openAppPopup() {
                const width = 300;
                const height = 450;
                const left = (screen.width - width) / 2;
                const top = (screen.height - height) / 2;

                window.open('{{ path('proj') }}', 'popup', `width=${width},height=${height},left=${left},top=${top}`);
            }
        </script>

        <nav class="nav">
            <ul class="nav">
                <li><a href="{{ path('home') }}">Home</a></li>
                <li><a href="{{ path('about') }}">About</a></li>
                <li><a href="{{ path('report') }}">Report</a></li>
                <li><a href="{{ path('api') }}">API</a></li>
                <li><a href="{{ path('lucky') }}">Lucky</a></li>
                <li><a href="{{ path('cards_start') }}">Card</a></li>
                <li><a href="{{ path('doc') }}">Documentation</a></li>
                <li><a href="{{ path('twentyone') }}">TwentyOne</a></li>
                <li><a href="{{ path('app_book') }}">Library</a></li>
                <li><a href="{{ path('metrics') }}">Metrics</a></li>
                <li><a href="#" onclick="openAppPopup()">Project</a></li>
            </ul>
        </nav>
        
        {% block body %}{% endblock %}
    </body>
    <footer class="footer">
        <p>&copy; 2025</p>
        <p>Alexander Högfeldt</p>
    </footer>
</html>
