{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}

{% block body %}
    <div class="reportView">
        <script>
        function loadRepHash (id) {
            const repdict = {
                "report1": "mvc_kmom01_report.txt",
                "report2": "mvc_kmom02_report.txt",
                "report3": "mvc_kmom03_report.txt",
                "report4": "mvc_kmom04_report.txt",
                "report5": "mvc_kmom05_report.txt"
            };

            if (id in repdict) {
                console.log("Report exists.");
                let selection = repdict[id]

                fetch(`../public/assets/reports/${selection}`)
                    .then(response => {
                        if (!response.ok) throw new Error("No such report.");
                        return response.text();
                    })
                    .then(text => {
                        document.querySelector('.reportArticle').innerHTML = text
                    })
                    .catch(error => {
                        document.querySelector('.reportArticle').innerHTML = "File not found"
                    })
            } else {
                console.log("No such report.");
            }
        }
    </script>
        <h1 class="archiveHeadline">Research archive</h1>
        <article class="reportArticle">
            <a href= "{{ path('report') }}#report1" onclick="loadRepHash('report1')" class="reportBtn">Kmom01</a>
             
            <a href="{{ path('report-view', {'reportId': 'report1'}) }}#report1" class="reportBtn" id="btn01">
                Kmom01
            </a>
     
            <a href="{{ path('report-view', {'reportId': 'report2'}) }}#report2" class="reportBtn" id="btn02">
                Kmom02
            </a>

            <a href="{{ path('report-view', {'reportId': 'report3'}) }}#report3" class="reportBtn" id="btn03">
                Kmom03
            </a>

            <a href="{{ path('report-view', {'reportId': 'report4'}) }}#report4" class="reportBtn" id="btn04">
                Kmom04
            </a>

            <a href="{{ path('report-view', {'reportId': 'report5'}) }}#report5" class="reportBtn" id="btn05">
                Kmom05
            </a>
        </article>
    </div>
{% endblock %}
